// Variables

$white: #fff;
$dorado: #debc61;
$black: #000;
$dorado1: #bd8f3e;
$dorado2: #dbbe58;
$dorado3: #f3e27e;
$gris: #edeef0;
$danger: #d32f2f; 
$green: #388E3C;
$orange: #ef4f25;

$navbar-height: 71.64px;
$general-radius: 10px;

$blue: #0088cc;
$dark-blue: #1353dc;
$yellow: #fceb3c;
$gray: #e1e1e1;
$gray-light: #fbfbfb;


$fonts-path: "../fonts/web/";
$font-family: "BogleWeb";
$font-family-medium: "BogleWeb-Regular";
$font-family-bold: "BogleWeb-Bold";
$font-family-medium: "BogleWeb-Regular";
$font-family-semibold: "BogleWeb-Bold";
$font-family-bold: "BogleWeb-Bold";
$font-family-extrabold: "BogleWeb-Black";
$font-family-black: "BogleWeb-Black";

$footerHeight: 0px;

// tato
$transparente : transparent;
$verde-tato: #9cc33b;
$amarillo-tato: #6d6d6d;
$naranja-tato: #f7931e;
$gris-tato: #f7f7f7;
$grismedio-tato: #545454;
$grisfuerte-tato: #333333;