.favoritos {
    // IE
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        margin-bottom: $footerHeight;
    }
    padding-top: 7rem;
    background-color: $gray;
    min-height: 100vh;
    position: relative;
    padding-bottom: $footerHeight;

    &-title {
        @media(max-width: 600px) {
            padding-left: 2rem;
        }
    }

    &-back {
        position: absolute;
        left: 3rem;
        @media(max-width: 1024px) {
            left: .6rem;
        }
    }

    .shop-product-container {
        margin: 0;
    }

    .shop-product-quit {
        float: left;
        cursor: pointer;
    }
}